<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}
    <div>
        <a href="/dashboard">Back</a>
        <a href="/logout">Logout</a>
    </div>
    <div>
        <h3>{{thejob.title}}</h3> <!--display job name-->
    </div>
    <div>
        <!-- job description -->
        <div class="descriptionOfJob">
            <p>{{thejob.desc}}</p>
            <p>{{thejob.location}}</p>
            <p>{{thejob.poster.first_name}}</p>
            <p>{{thejob.created_at}}</p>
        </div>
        <a href="/my_job/{{thejob.id}}">Add To My Jobs</a>
    </div>
</body>
</html>